@keyframes hideDiv {
  0% {
    opacity: 1;
    height: var(--start-height);
    padding: var(--startpad);
    pointer-events: all;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    pointer-events: none;
  }
}

@keyframes showDiv {
  0% {
    opacity: 0;
    height: 0;
    padding: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    height: var(--start-height);
    padding: var(--start-pad);
    pointer-events: all;
  }
}
@keyframes showSelect {
  0% {
    border: 0px;
    height: 0vh;
    padding: 0;
    pointer-events: none;
  }
  100% {
    height: 6vh;
    padding: 1.5vh 0% 1.5vh 0.8vh;
    border: 1.5px solid rgb(27, 208, 249);
    pointer-events: all;
  }
}
@keyframes hideSelect {
  0% {
    height: 6vh;
    padding: 1.5vh 0% 1.5vh 0.8vh;
    border: 1.5px solid rgb(27, 208, 249);
    pointer-events: all;
  }
  100% {
    border: 0px;
    height: 0vh;
    padding: 0;
    pointer-events: none;
  }
}

.container-export > #divForm,
.container-export > #divOprForm {
  overflow-y: scroll;
  overflow-x: clip;
  padding: 3vh 0 2vh 0;
  height: 45vh;
  border-radius: 1vh;
  border: 1.5px solid rgb(27, 208, 249);
  margin: 0% 15%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.container-export > #divControl {
  height: 10vh;
  display: flex;
  margin: 2vh 10%;
  width: 80%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container-export > #divTable,
.container-export > #divOprTable {
  height: 0;
  width: 90%;
  margin: 0;
  opacity: 0;
  padding: 0;
  overflow-y: clip;
  overflow-x: scroll;
  color: white;
  border: 1.5px solid rgb(27, 208, 249);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.container-export > #divTableExport {
  height: 0;
  width: 90%;
  margin: 0;
  opacity: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  color: white;
  border: 1.5px solid rgb(27, 208, 249);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.container-export > div > form > div > label {
  margin: 1vh 0%;
  padding-left: 5%;
  font-size: 0.8em;
  color: white;
  display: block;
  width: 95%;
}
.container-export > div > form > div > input:nth-child(1) {
  width: 5em;
  min-width: fit-content;
  font-size: 1em;
}
.container-export > div > form > select {
  text-align: center;
  padding: 1.5vh 0% 1.5vh 0.8vh;
  border: 1.5px solid rgb(27, 208, 249);
  font-size: 0.7em;
  min-width: 10%;
  border-radius: 0.7vh;
  width: fit-content;
  margin: 1vh 5%;
  background: #1e1e1e;
  color: white;
  height: 6vh;
}
.container-export > div > form > select:hover {
  cursor: pointer;
}
.container-export > #divExport > form > select:nth-child(1n + 2) {
  height: 0vh;
  padding: 0vh;
  border: 0px;
  pointer-events: none;
}
.container-export > div > form > div > input {
  padding: 1.5vh 0% 1.5vh 0.8vh;
  font-size: 0.6em;
  border-radius: 0.7vh;
  width: 85%;
  margin: 0 5%;
  background: #1e1e1e;
  border: 1.5px solid rgb(27, 208, 249);
  color: white;
}
.container-export > div > button:nth-child(1) {
  opacity: 0;
  pointer-events: none;
}
.container-export > div > button {
  margin: 1vh 4% 3vh 0;
  align-self: flex-end;
  background: #1e1e1e;
  display: flex;
  font-weight: bold;
  border-radius: 0.5vh;
  color: white;
  border: 1.5px solid rgb(27, 208, 249);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8vh 2vh;
  font-size: 0.7em;
  text-align: center;
  transition: color 0.7s, background 0.7s, border 0.7s, opacity 1s;
  justify-content: center;
  align-items: center;
}
.container-export > div > button:hover,
#btnImport:hover {
  cursor: pointer;
  background: rgb(27, 208, 249);
  color: black;
}
.container-export > div > button > svg,
#btnImport > svg {
  pointer-events: none;
  margin-right: 1vh;
}
.container-export > div > button:hover > svg {
  animation: spin 1s infinite linear;
}

#divTable > table,
#divTableExport > table {
  border-collapse: collapse;
}
#divTable > table > thead > tr > th,
#divTable > table > tbody > tr > td,
#divTableExport > table > thead > tr > th,
#divTableExport > table > tbody > tr > td {
  font-size: 0.5em;
  text-align: center;
  border-spacing: 0px;
  margin: 0;
  padding: 0.4vh 1vh;
  border: 1.5px rgb(27, 208, 249) solid;
  width: calc(100% / 3); /* Divide igualmente a largura das colunas */
}
#divOprTable > table {
  border-collapse: collapse;
}
#divOprTable > table > thead > tr > th,
#divOprTable > table > tbody > tr > td {
  font-size: 0.6em;
  text-align: center;
  border-spacing: 0px;
  margin: 0;
  padding: 0.4vh 1vh;
  border: 1.5px rgb(27, 208, 249) solid;
  width: calc(100% / 3); /* Divide igualmente a largura das colunas */
}
.div-form-export {
  width: 80%;
}
.div-form-export > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#btnImport {
  margin: 3vh 0 3vh 0;
  align-self: center;
  background: #1e1e1e;
  display: flex;
  font-weight: bold;
  border-radius: 0.5vh;
  color: white;
  border: 1.5px solid rgb(27, 208, 249);
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh 2vh;
  font-size: 0.7em;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: color 0.7s, background 0.7s, border 0.7s, opacity 1s;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .container-export > #divExport > form > select {
    width: 100%;
    margin: 1vh 0;
  }
  .container-export > #divTable,
  .container-export > #divOprTable {
    display: flex;
    width: 80%;
    height: 0;
    justify-content: flex-start;
  }
  #divTable > table > thead > tr > th,
  #divTable > table > tbody > tr > td {
    font-size: 0.7em;
  }
}
