/* loading animation */
.lds-ring {
  margin-top: 3em;
  display: flex;
  position: relative;
  width: 100%;
  height: 4em;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s, height 0.8s;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 3em;
  height: 3em;
  margin: 1em;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.link-button {
  background: none;
  font-size: 0.7em;
  color: white;
  margin: 2em 0;
  width: 100%;
  text-align: center;
  transition: color 1s;
  text-decoration: none;
  border: none;
}
.link-button:hover {
  color: rgb(120, 120, 120);
  cursor: pointer;
}
@media screen and (max-width: 500px) {
      
}